:root {
  --accent-color: #2196f3;
  --text-color: #212121;
  --sub-text-color: #757575;
  --background-color: #2f303a;
  --section-color: #f5f4fa;
  --white-color: #fff;
  --black-color: #000;
  --main-button-hover: #188ce8;
  --header-border: #ececec;
  --image-border: #eeee;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
  width: 100%;
  padding: 0;
  margin: 0;
}
ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
.menu-list,
.contact-list,
.case-list,
.work-list,
.user-list,
.btn-list {
  display: flex;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  align-items: center;
  display: flex;
}
.header-menu {
  border-bottom: 1px solid var(--header-border);
  padding: 24px 0 25px;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--black-color);
  padding-right: 0;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
  margin-bottom: 20px;
  display: inline-block;
}
.accent {
  color: var(--accent-color);
  margin: 0;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav-item,
.contacts {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.nav-item {
  color: var(--text-color);
}
.contacts {
  color: var(--sub-text-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.current {
  color: var(--accent-color);
}
.menu-list {
  margin-left: 93px;
}
.menu-item {
  margin-right: 50px;
}
.menu-item:last-of-type {
  margin-right: 0;
}
.contact-list {
  margin-left: auto;
}
.contact-item {
  margin-right: 50px;
}
.contact-item:last-child {
  margin-right: 0;
}
.main {
  background: var(--background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  width: 696px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 30px;
  cursor: pointer;
}
.main-button:hover,
.main-button:focus {
  background: var(--main-button-hover);
}
.case-item {
  margin-right: 30px;
}
.case-item:last-of-type {
  margin-right: 0;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.desc {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}
.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.work {
  padding-top: 0;
}
.work-list-item {
  margin-right: 30px;
}
.work-list-item:last-of-type {
  margin-right: 0;
}
.user {
  background: var(--section-color);
}
.user-card {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: var(--white-color);
}
.user-card:last-of-type {
  margin-right: 0;
}
.user-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  padding-top: 30px;
  margin-bottom: 10px;
}
.user-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
  padding-bottom: 30px;
}
.footer {
  background: var(--background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.address-list-item {
  margin-top: 9px;
}
.address-list-item:first-child {
  margin-top: 0;
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
  font-style: normal;
}
.address-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
  font-style: normal;
}
.address:hover,
.address:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.address-item:hover,
.address-item:focus {
  color: var(--accent-color);
  cursor: pointer;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--text-color);
  background: var(--section-color);
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
}
.button:hover,
.button:focus {
  background: var(--accent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--white-color);
}
.btn-list {
  justify-content: center;
  margin-bottom: 50px;
}
.btn-item {
  margin-right: 8px;
}
.btn-item:last-of-type {
  margin-right: 0;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
}
.product-list > .product-item {
  background: var(--white-color);
  margin-bottom: 30px;
  margin-right: 30px;
  flex-basis: calc((100% - 60px) / 3);
}
.product-item:nth-child(3n + 3) {
  margin-right: 0;
}
.product-item:nth-child(n + 7) {
  margin-bottom: 0;
}
.image-card {
  padding: 20px 24px;
  border: 1px solid var(--image-border);
  border-top: none;
}
.image-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--text-color);
  margin-bottom: 4px;
}
.image-desc {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--sub-text-color);
}
img {
  display: block;
  width: 100%;
  height: auto;
}
